.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  width: 98px;
  border: 1px solid black;
  cursor: pointer;
}

.box p{
  margin: 0;
  font-size: 100px;
}

.redText{
  color: lightcoral;
}

.greenText{
  color: lightgreen;
}

.controls{
  width: 600px;
  margin: 30px 100px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  justify-items: center;
  /* align-items: center; */
  border: 1px solid black;
}

.green{
  background-color: green;
}